@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/style.cshtml";
}
<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand md-0 h1">Ice cream shop</span>
</nav>
<div class="row">
    <div class="col-sm-3">
        <div class="container">
            <div class="list-group-item list-group-item-action active">Item</div>
            <div class="panel-body bg-dark"style="color:white">
                <form id="frm-project">
                    <div class="form-group">
                        <div>
                             <img src="~/image/download.jpg" id="app"class="photo"width="100"height="100" data-bs-toggle="modal" data-bs-target="#exampleModal"/>
                            <b>Apple Juice</b>
                        </div>

                        <div>
                            <img src="~/image/download (1).jpg" id="co" class="photo" width="100" height="100" data-bs-toggle="modal" data-bs-target="#exampleModal" />
                            <b>Coco Cola</b>
                        </div>
                       
                        <div>
                            <img src="~/image/download (2).jpg" id="man" class="photo" width="100" height="100" data-bs-toggle="modal" data-bs-target="#exampleModal"  />
                            <b>Mango JUice</b>
                        </div>
                        
                        <div>
                            <img src="~/image/download (3).jpg"  id="mix" class="photo" width="100" height="100" data-bs-toggle="modal" data-bs-target="#exampleModal"/>
                            <b>Mix Juice</b>
                        </div>
                       
                        <div>
                            <img src="~/image/download (4).jpg" id="orn" class="photo" width="100" height="100" data-bs-toggle="modal" data-bs-target="#exampleModal"/>
                            <b>Orange Juice </b>
                        </div>
                       
                        <div>
                            <img src="~/image/Chocolate_(blue_background).jpg" id="cho" class="photo" width="100" height="100" data-bs-toggle="modal" data-bs-target="#exampleModal"/>
                            <b>Choclate </b>
                        </div>





                    </div>
                </form>
            </div>
        </div>
    </div>
               <div class="col-sm-6">
                   <div class="container">
                       <div class="list-group-item list-group-item-action active">Add Product</div> 
                       <table id="tbl-item"class="table table-dark table table-bordered" cellpadding="0" cellspacing="0"align="center">
                        <thead>
                            <tr>
                                <th>Delete</th>
                                <th>Item</th>
                                <th>Price</th>
                                <th>Qty</th>
                                <th>Total</th>
                            </tr>
                            <tbody>

                            </tbody>
                        </thead> 
                       </table> 
                   </div>
               </div>

    <div class="col-sm-3">
        <div class="container">
            <div class="list-group-item list-group-item-action active">Bill</div>
            <div>
                <label>Total</label>
                <input type="text" style="color:yellow; background:black;font-size:30px;" id="total"name="total"placeholder="Total" />
            </div>

            <div>
                <button class="btn btn-warning" name="reset" onclick="reset()" id="reset">Reset</button>
            </div>

        </div>
    </div>


</div>













<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enter the Qty</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label>Qty</label>
                <input type="number"id="qty" name="qty" placeholder="Qty"value="1" />
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="add()">ADD</button>
              
            </div>
        </div>
    </div>
</div>
@section Scripts{
    
    
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>    
<script type="text/javascript">
    var total = 0;
    var tot = 0;
    var item = null;
    var price = 0;



    var a = ""
    $("img").on("click", function () {

        a=$(this).prop("id")


    });
    
    function add()
    {
        if (a == "app")
        {
            item = "apple juice";
            price = 32;
        }
        else if (a == "co")
        {
            item = "coco cola";
            price = 40;
        }

        else if (a == "man")
            {
                item = "mango juice";
                price = 80;
            }
            else if (a=="mix") 
            {
                item = "mix juice";
                price = 90;
            }
            else if (a == "orn")
            {
                item = "orange juice";
                price = 95;
            }
            else if (a == "cho")
            {
                item = "choclate"
                price = 68;

            }
            var qty = $("#qty").val();
            tot = qty * price;


            var table =
                "<tr>" +
                "<td><button type='button' name='record' class='btn btn-warning' onclick='deleterow(this)'>Delete</td>" +
                "<td>" + item + "</td>" +
                 "<td>" + price + "</td>" +
                  "<td>" + qty + "</td>" +
                   "<td>" + tot + "</td>" +
                   "</tr>";


            total += Number(tot);
            $("#total").val(total);
            $("#tbl-item tbody").append(table);
            ("#exampleModal").modal("hide");
        }
    function deleterow(e)
    {
        total_cost = parseInt($(e).parent().parent().find('td:last').text(), 10);
        total -= total_cost;
        $('#total').val(total);
        $(e).parent().parent().remove();
    }
    function reset() {
        location.reload();
    }
    
</script>
    
    }
    
    
    